*.o
*.a
hiba-chk
hiba-gen
hiba-grl
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
generate-test-certs
install-sh
libhiba.la
libhiba_la-certificates.lo
libhiba_la-checks.lo
libhiba_la-errors.lo
libhiba_la-extensions.lo
libhiba_la-revocations.lo
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
testdata/.dirstamp
