*.o
*.a
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
install-sh
libhiba.la
libhiba_la-certificates.lo
libhiba_la-checks.lo
libhiba_la-errors.lo
libhiba_la-extensions.lo
.libs/
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
